#score-board {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}

.choice {
  max-height: fit-content;
  border: 2px solid black;
  padding: 0.3rem 0.6rem;
  border-radius: 100px;
  font-size: 15px;
  margin: 0 5px;
}

#choices-left {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
